<nav id="menu">
	<ul>
		<li><a href="https://solidgoldstudios.co.za/extralessons.php" target="_blank" rel="noopener">Listen to our Podcast</a></li>
		<li><a href="about.html">About Us</a></li>
		<li><a href="maths.html">Maths</a></li>
		<li><a href="afrikaans.html">Afrikaans</a></li>
		<li><a href="english.html">English</a></li>
		<li><a href="studyskills.html">Study Skills</a></li>
		<li><a href="schoolreadiness.html">School Readiness</a></li>
		<li><a href="testimonials.html">Testimonials</a></li>
		<li><a href="https://www.facebook.com/KipLessons" target="_blank">Facebook</a></li>
		<li><a href="becomeatutor.html">Become a Tutor</a></li>
	</ul>
</nav>
